table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
th {
    background-color: #f0f0f0; 
    color: #000000B2;
}
th, td {
    padding: 14px 0 14px 40px;
    text-align: justify;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
td div{
    font-weight: bold;
}
.deleteButton{
    color: #FF0000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 7px;
    cursor: pointer;
}
.editButton{
    cursor: pointer;
}
td img{
    width: 20px;
    height: 20px;
}
th:first-child{
    border-top-left-radius: 6px;
}
th:last-child{
    border-top-right-radius: 6px;
}