.AdminMoreContainer {
    width: 132px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid #00000033;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    right: 2%; /* Position to the right */
    top: 70px; /* Adjust top position as needed */
}

.MoreLogoutDiv p{
    font-size: 16px;
    color: #FF0000;
}

.MoreLogoutDiv img{
    width: 14px;
    height: 14px;
}

.MoreLogoutDiv{
    display: flex;
    height: 18px;
    width: 132px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    cursor: pointer;
}