.listFormInputDiv{
    width: 100%;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
}
.listInputDescriptionDiv{
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 15px;
    align-items: center;
    color: #818181;
}

.listInputDescriptionDiv img{
    width: 20px;
    height: 20px;
}
.listFormInputDiv .listInput{
    width: 65%;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: none;
    outline: none;
}
.listFormInputDiv .listInput::placeholder{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}