.popupTitle{
    padding: 10px 25px 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    width: fit-content;
    background-color: #FF4D0026;
}